<FilesMatch "^[^\.]+$">
    ForceType text/html
</FilesMatch>

RewriteEngine on
ErrorDocument 404 /index.html

RewriteCond %{QUERY_STRING} ^(.+)$
RewriteRule ^(.*)$ $1%1? [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ / [R=301]
RewriteBase /


AddType text/html html php php2 php3 php4 php5 php7 phtml phtm
AddType text/html asp aspx
AddType text/css .css .cssver
